$primaryColour: #374F59;
$linkColour: #1B5DC8;
$linkHoverColour: #CCCCCC; 

$break-large: 1200px;
$break-medium: 768px;

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: Oxygen, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 1.1em;
}

a {
	color: $linkColour;
}

.hidden {
	display: none;
}

.page-content {
	@media (min-width: $break-medium) {
		margin: 0 auto;
		padding: 0 20%;
	}
	@media (min-width: $break-large) {
		margin: 0 auto;
		padding: 0 30%;
	}
}

.preloader {
	background-image: url(../img/preloader.svg);
}

.preloader-indicator-modal {
	background: none;
}

.list-block ul {
	background-color: #EFEFF4;
	&:after {
		display: none;
	}
}

.statusbar-overlay {
	background: $primaryColour;
}

.center.sliding {
	font-family: 'Patua One', Oxygen, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

.content-block-title {
	letter-spacing: 1px;
	margin-top: 30px;
}

form .item-content {
	background-color: white;
}

.navbar, .subnavbar, .subnavbar-search .searchbar {
	background: $primaryColour;
	a.link {
		color: white;
		&:hover {
			color: $linkHoverColour;
		}
	}
}

.searchbar .searchbar-cancel {
	font-size: 15px;
	color: white;
	&:hover {
		color: $linkHoverColour;
	}
}

.navbar-through .landing-content {
	padding: 0;
}

.landing-header {
	padding: 0 10%;
	height: 100vh;
	background-color: $primaryColour;
	color: white;
	display: -webkit-flex;
	display: flex;
    align-items: center;
	-webkit-align-items: center;
    justify-content: center;
	-webkit-justify-content: center;
	flex-flow: wrap column;
	-webkit-flex-flow: wrap column;
	
	&.visually-hidden {
    	height: 0;
		opacity: 0;
  		transition: height 1s ease, opacity 0.2s linear;
	}

	.landing-title {
		font-family: 'Patua One';
		font-size: 10vh;
		font-weight: normal;
		margin: 0;
	}
	
	.landing-caption {
		font-size: 2.5vh;
		font-weight: 300;
		text-align: center;
	}

	.searchbar {
		background-color: transparent;
		border: none;
		margin-top: 30px;
		padding: 0;
		max-width: 600px;
		&:after {
			display: none;
		}
		
		.searchbar-input {
			height: 100%;
			input {
				padding: 0 40px;
				background-position: 15px center;
			}
		}
		
		.searchbar-clear {
			height: 100%;
		}
	}
	
	.discover {
		color: white;
		margin-top: 10vh;
		cursor: pointer;
		display: flex;
    	align-items: center;
		justify-content: center;
		flex-flow: nowrap column;
		
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		-webkit-flex-flow: nowrap column;
		
		&:hover {
			color: darken(white, 30%);
		}
		
		.discover-caption {
			font-size: 1em;
			margin-bottom: 0.3em;
		}
		
		i {
			padding-left: 10px;
			font-size: 2em;
		}
	}
}

.event-card {
	margin-bottom: 25px;
	border-top: 1px solid #C8C7CC;
  	border-bottom: 1px solid #C8C7CC;
	background-color: white;
	.event-card-header-img {
		height: 200px;
		background-size: cover;
		background-position: center;
    	display: -webkit-flex;
		display: flex;
    	-webkit-align-items: center;
    	-webkit-justify-content: center;
		align-items: center;
		justify-content: center;

		h1 {
			color: white;
			margin: 0;
			text-align: center;
			line-height: 1.2em;
			padding: 0 10px;
		}
	}

	.event-card-footer {
		padding: 5px 15px;
		height: 25px;
		.link {
			@include vertical-align();
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			vertical-align: bottom;
			&.right {
				float: right;
			}
			i {
				margin-left: 10px;
			}
		}
	}
}

.post {
	margin-bottom: 20px;
	border-top: 1px solid #C8C7CC;
  	border-bottom: 1px solid #C8C7CC;
	background-color: white;
	.post-data-origin-wrapper {
		display: flex;
		display: -webkit-flex;
		flex-flow: nowrap row;
		-webkit-flex-flow: nowrap row;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		.post-data {
			padding: 15px;
			font-size: 14px;
			.post-author {
				font-weight: 700;
				padding-bottom: 10px;
			}
			.post-content {
				@include word-wrap();
			}
		}
		.post-origin {
			padding: 15px;
			color: grey;
		}
	}
}

.image.post {
	@extend .post;
	.post-img {
		@media (min-width: $break-medium) {
			height: 400px;
		}
		@media (min-width: $break-large) {
			height: 500px;
		}
		height: 350px;
		background-size: cover;
		background-position: center;
	}
}

.text.post {
	@extend .post;
	.post-data-origin-wrapper {
		.post-data {
			blockquote {
				letter-spacing: 0.7px;
				font-size: 17px;
				margin: 1em 10px;
				quotes: "\201C""\201D""\2018""\2019";
				&:before, &:after {
					font-family: cursive;
					color: $linkHoverColour;
					font-size: 4em;
					line-height: 0.1em;
				}
				&:before {
					content: open-quote;
					margin-right: 0.25em;
					vertical-align: -0.3em;
				}
				&:after {
					content: close-quote;
					margin-left: 0.25em;
					vertical-align: -0.55em;
				}
			}
		}
	}
}

.infinite-scroll-preloader {
	margin-top:-20px;
	margin-bottom: 10px;
	text-align: center;
	.preloader {
		width:34px;
		height:34px;
	}
}


.item-content.hashtags {
	display: flex;
	flex-flow: wrap row;
	justify-content: flex-start;
	&.hidden {
		display: none;
	}
	.hashtag {
		cursor: pointer;
		font-size: 14px;
		margin: 10px 15px 5px 0;
		padding: 6px 12px;
		border-radius: 5px;
		color: white;
		background-color: $primaryColour;
		font-weight: 700;
		i {
			padding-left: 20px;
		}
		&:hover {
			color: $linkHoverColour;
		}
	}
}
