$primaryColour: #374F59;
$linkColor: #1B5DC8;

body {
	font-family: Oxygen, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 1.1em;
}

a {
	color: $linkColor;
}

.statusbar-overlay {
	background: $primaryColour;
}

.center.sliding {
	font-weight: 700;
	color: white;
}

.navbar, .subnavbar, .subnavbar-search .searchbar {
	background: $primaryColour;
	a.link, i {
		color: white;
		&:hover {
			color: grey;
		}
	}
}

.event-card-header-img .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
}
